.show-banner {
  width: 100vw;
  height: 400px;
  background-size: fit;
  background-size: cover;
  background-position: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid $yellow;
}
.profile-banner {
  position: relative;
  .profile-image {
    position: absolute;
    bottom:-100px;
    left: 150px;
  }
  .rounded {
    position: absolute;
    bottom: -25px;
    left: 400px;
  }
  .follow-button {
    position: absolute;
    bottom: 5px;
  }
}
.profile-content {

  p {
    line-height: 15px;
  }
}

.profile-category {
  font-weight: 700;
  color: $purple;
}



.profile {
  display: flex;
  position: relative;
  padding: 50px;
}

.flex-box {
  display: flex;
  align-items: center;
}




.profile-title {

}

.charity-container {
  position: relative;
  margin-top: 20px;
  width: 1000px;
  margin-left: 100px;
  height: 50%;

  .profile-image {
    position: absolute;
    top: 50px;
    left:50px;
  }
  .profile-right {
    position: absolute;
    right: 150px;
    top: 20px;
    width: 500px;

}

}

.main-title {
  .follow-button {
    margin-left: 25px;
    margin-top: 12px;
  }

  .medium-btn {
    padding: 6px 20px;
  }

}

.count {
  margin-right: 35px;
}


.profile-description {
  width: 500px;
  font-size: 15px;
  position:absolute;
  top: 200px;
  max-height: 120px;
  overflow-y: auto;
}

