.dashboard-tabs {
  margin-top: 50px;
  border-bottom: 1px solid $purple;
  li.active a {
    background-color: white;
    border-left: 1px solid $purple;
    border-right: 1px solid $purple;
    border-top: 1px solid $purple;
    color: $purple !important;
    font-weight: bold;
    &:hover {
      background-color: white;
      color: $purple !important;
      border-left: 1px solid $purple;
      border-right: 1px solid $purple;
      border-top: 1px solid $purple;
    }
    &:focus {
      background-color: white;
      color: $purple !important;
      border-left: 1px solid $purple;
      border-right: 1px solid $purple;
      border-top: 1px solid $purple;
    }
  }
}
.tab-pane#edit-org {
  padding-top: 40px;
  padding-left: 10px;
  a {
    color: $light-gray;
    &:hover {
      text-decoration: none;
      color: $purple;
    }
  }
}
.nav-tabs > li > a {
  border-radius: 5px 5px 0 0 !important;
  color: $light-gray;
  &:hover {
    text-decoration: none;
    background-color: $purple;
    color: white;
    border-color: none !important;
  }
}
.nav li a {
  &:hover {
    background-color: none !important;
  }
}

.dashboard {
  padding-left: 50px;
  padding-right: 50px;
}
.following-cards {
  width: 100%;
  length: auto;
  padding: 40px 0 20px 25px;
  .card-box {
    padding-top: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    .browse-card {
      border: 2px solid $grey;
      width: 350px;
      height: 350px;
      margin-right: 0 !important;
      .charity-identifier {
        padding: 2px;
        width: 70px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        opacity: 0.9;
        background-color: $purple;
        color: white;
        position: absolute;
        right: 10px;
        top: -10px;
      }
    }
  }
}
.dash-link {
  color: $purple !important;
  opacity: 0.7;
  font-weight: bold;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}
