.conversation-container-flex{
  position: relative;
  height: 130px;
  padding: 10px 30px;
  border-bottom: 1px solid $grey;
  display: flex;
  position: relative;
  align-items: center;

}


.conversation-detail-flex {
  display: flex;
  align-items: center;

}
.conversation-partner {
  font-weight: bold;
}

.conversation-info {
  width: 250px;
  text-align: center;
}

.conversation-time{
  color: grey;
  font-size: 15px;
}

.conversation-body {
  position: absolute;
  right: 150px;
  width: 450px;
}

.green-dot {
  font-size: 100px;
  color: $forest-green;


}
.read-status {
  align-self: flex-end;
  position: absolute;
  right:50px;

}

.time {
  position: absolute;
  right: 100px;
  bottom: 35px;
}
