.conversation-container {
  position: relative;
  height: 130px;
  padding: 10px 30px;
  margin-top: 10px;
  border-bottom: 1px solid $grey;

}
.conversation-partner {
  font-weight: bold;
}

.conversation-info {
  width: 350px;
  text-align: center;
}

.conversation-time{
  color: grey;
  font-size: 15px;
}

.conversation-body {
  position: absolute;
  right: 100px;
  width: 500px;
}

.green-dot {
  font-size: 100px;
  color: $forest-green;


}

.read {
  width: 50px;
}

.read-status {
  height: 100px;
}
