.partnership-container-small {
  border: 1px solid $grey;
  margin-top: 30px;
  position: relative;
  width: 250px;
  text-align:center;
  padding: 10px 10px;
  align-self: start;

  &:hover {
   box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  }

  .identifier {
    position: absolute;
    top: 10px;
    right: -15px;
    opacity: 0.9;
    font-weight: bold;
    color: white;


  }

}


.chat-bubble-purple  {
  border-radius: 10px;
  max-width: 450px;

  padding: 10px 15px;
  background-color: $purple;
  color: white;

}

.chat-bubble-grey {
  border-radius: 10px;
  max-width: 450px;

  padding: 10px 15px;
  background-color: rgba(204, 204, 204, 0.3);
  margin-left:0px;
}

.messages-container {
  padding: 10px 10px;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 30px;
  width: 700px;

}

.my-message-container {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.your-message-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }



.button-container {
  display: flex;
  justify-content:  flex-end;
  margin-bottom: 50px;

}

.text-between {
  text-align: right;
  p {
    width:100%;
    text-align:center;
    color: $grey;
    border-bottom: 1px solid $grey;
    line-height:0.1em;
    margin:10px 0 20px;
    span { background:#fff; padding:0 10px; }
  }
}

.flex-box-chat {
  display: flex;
  justify-content: flex-start;
}

.messages-flex-box {
  display:flex;
  flex-direction: column;

}

::-webkit-scrollbar {
    // width: 1px;
    background: transparent; /* make scrollbar transparent */
}


.messages {
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.charity-image-small {
  width: 99px;
  height: 99px;
  border-radius: 50px;
  border: 3px solid $yellow;

}

.chat-input {
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 100px;
  font-size: 18px;
  display: inline-block;
  margin-top: 10px;
  &:focus {
  outline-color: transparent;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}
}
