.chat-bubble-grey {
  border-radius: 10px;
  max-width: 450px;

  padding: 10px 15px;
  background-color: rgba(204, 204, 204, 0.3);
  margin-left:0px;
}

.your-message-container {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }



.button-container {
  display: flex;
  justify-content:  flex-end;
}

.text-between {
  text-align: right;
  p {
    width:100%;
    text-align:center;
    color: $grey;
    border-bottom: 1px solid $grey;
    line-height:0.1em;
    margin:10px 0 20px;
    span { background:#fff; padding:0 10px; }
  }
}

.flex-box-chat {
  display: flex;
  .partnership-container-small {
    flex: 0 0 250px;
    border: 1px solid $grey;
    margin-top: 30px;
    position: relative;
    text-align:center;
    padding: 20px;
    align-self: start;
    width: 250px !important;
    &:hover {
     box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }
    .img {
      .image {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .messages-container {
    flex: 1 1 auto;
    padding: 10px 10px;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 30px;
    max-height: auto;
    overflow: hidden;
    .one-message-container.purple {
      border: 2px solid $purple;
    }
    .one-message-container {
      width: 100%;
      border: 2px solid $grey;
      margin-bottom: 5px;
      .message-subject {
        padding: 10px 15px;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $grey;
        // background-color: #f4f4f4;
        .conversation-time {
          font-size: 12px;
        }
      }
      .chat-bubble-purple  {
        width: 100% !important;
        padding: 20px 15px;
        font-size: 16px;
        // color: white;
      }
    }
    .txt-form {
      padding: 10px 15px 10px 0;

    }
  }
}

@media screen and (max-width: 500px) {
  .flex-box-chat {
      display: block;
  }
  .messages-container {
    width: 100%;
    margin: 0px;
  }
}

.messages-flex-box {
  display:flex;
  flex-direction: column;
}


::-webkit-scrollbar {
    // width: 1px;
    background: transparent; /* make scrollbar transparent */
}



.messages {
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  box-sizing: content-box;
  overflow-x: hidden;
}

.charity-image-small {
  width: 99px;
  height: 99px;
  border-radius: 50px;
  border: 3px solid $yellow;
}

.chat-input {
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 100px;
  font-size: 18px;
  display: inline-block;


  &:focus {
  outline-color: transparent;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}
}




