<%= simple_form_for([conversation, message]) do |form| %>
  <%= form.input :content, label: false, input_html: { class: "first-input chat-input"}, placeholder: "Write a message to #{partner} here..." %>
  <div class="button-container">
    <%= form.button :submit, value: "Send", class: "button small-btn white-btn" %>
  </div>
<% end %>
