body {
  background-color: white;
  h1 {
    font-family: "Open Sans", "Helvetica", "sans-serif"
  }
}

.landing-page {

  padding: 50px 120px;
  height: 100vh;

}

#content-box {
  width: 700px;

}

.landing-page-image {
  margin-top: -100px;
  margin-left: 50px;
}
