body {
  background-color: white;
  h1 {
    font-family: "Open Sans", "Helvetica", "sans-serif"
  }
}

.landing-page {

  padding: 50px 120px;
  height: 100vh;
  position: relative;

}

#content-box {

}

.landing-page-image {
  position: absolute;
  left: 430px;
  bottom: 150px;
  // margin-top: -100px;
  // margin-left: 50px;
}

.butt {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 130px;
  top: 350px;
}

