<div class="container dashboard">
  <div class="dashboard-main-header">
    <h1>Dashboard</h1>
  </div>
  <div class="dashboard-subheading">
    <h3>Current Missions:</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="picture">
          <img src="https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
        </div>
        <div class="card-description">
          <h4><b>Unicef</b></h4>
          <p>Cape town</p>
          <p>Help Africa!</p>
        </div>
        <div class="status">
          <div class="status-box">
            <h4 style="color: <%= @partnership.color %> !important">Status: <%= @partnership.status.capitalize %></h4>
          </div>
        </div>
        <div class="card-links">
            <%= link_to 'more info', partnership_path(@partnership) %>
        </div>
      </div>
    </div>
  </div>
</div>

