<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4><strong>Mission Information</strong></h4>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-info">
        <h5><strong><span class="charity"></span></strong></h5>
        <h6><i class="fas fa-map-marker-alt"></i> <span class="location"></span></h6>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="button white-btn small-btn" data-dismiss="modal">Close</button>
        <%= link_to "Visit Charity", "#" , class: "visit-charity-button button white-btn small-btn" %>
        <%= link_to "View Mission", "#" , class: "apply-button button white-btn small-btn" %>
      </div>
    </div>
  </div>
</div>
