<div class="container">
  <div class="landing-page">
    <div class="landing-txt">
      <h1 class="primary-txt">Where business<br> and charities connect</h1>
      <p class="secondary-txt">Connect with charities that share <br>the same values and find opportunities</p>
      <div class="butt">
        <%= link_to "Connect now", new_user_registration_path, class: "button big-btn purple-btn rounded" %>
      </div>
    </div>

    <div class="landing-page-image">
        <%= image_tag "landing-page-graphic.png" %>
    </div>
  </div>
</div>

