<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="container">
<%= link_to 'Purple', '#', class: "button purple-btn big-btn" %>
<br>

<%= link_to 'Purple', '#', class: "button purple-btn rounded" %>
<br>

<%= link_to 'Purple', '#', class: "button purple-btn small-btn" %>
<br>

<%= link_to 'White', '#', class: "button white-btn big-btn rounded small-btn" %>
<br>
</div>
