.whole-card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 280px;
  width: 100%;
  border: 1px solid $grey;
  margin-bottom: 20px;
  padding-bottom: 10px;
  &:hover {
    box-shadow: 0 3px 18px rgba(0,0,0,0.2);

  }
  .small-mission-card {
    height: 65%;
    .mission-image {
      height: 100%;
      overflow: hidden;
      width: 100%;
      object-fit: cover;
      border-bottom: 3px solid $yellow;

    }
  }
  .mission-content {
    padding: 15px;
    height: 35%;
    overflow: hidden;
    word-wrap: break-word;
  }
}

  // .card-title {
  //   margin-top: 300px !important;
  // }



.mission-cards-container {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  // position: absolute;
  // top: 450px;
a {
    text-decoration: none;
  }

}

