.primary-txt {
  font-weight: bold;
  font-size: 60px;
}

.secondary-txt {
  font-weight: 300;
  font-size: 25px;
}
.profile-services {
  font-size: 20px;
}
.medium-text {

  font-weight: bold;
  font-size: 30px;

}

.dot {
  color: $purple;
  font-weight: bold;
  font-size: 150px;
  line-height: 0px;
}

u {
  text-decoration-color: $purple;
}

.blue {
  color: $blue;
}
